<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endpoint.book.mapper.BookMapper">

        <insert id="addVisitCount">
            update book set visit_count = visit_count + #{addCount}
            where id = #{bookId}
        </insert>
</mapper>
